<!DOCTYPE html>
<html>
<head>
  <title>Interactive Button</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

  <div class="container">
    <h1><i> Welcome to the Maths page!</i></h1>
    <h3>A working example of Terminal redirected input/output using POST/GET</h3>
    <h5>This takes input and calls a main.py app route directly via GET</h5>
    <p>Logic shapes every choice of our daily lives.<br>
    Logical thinking enables someone to learn and
    make decisions that affect their way of life. !</p>
    <form method="GET" action ="/square">
        Enter a number :
        <input type="text" name="num" id="num"></input>
        <input type="submit" name="btnnum" id="btnnum"></input>
  </form>
  </div>  
  
  <div class="container">
    <h1>Sources Consulted During this Final Project Work</h1>
    <a href="https://code.visualstudio.com/docs/python/tutorial-flask">Geek for Geeks Flask To HTTP Tutorial</a> <br>
    <a href="https://www.youtube.com/watch?v=HP0F5xbUQCQ">You Tube  on Py-script to connect Python to the Web Browser</a> <br> 
    <a href="https://pyscript.net/">Py-Script Download & Tutorial</a>  <br>
    <p>Sources consulted: <span id="sponsorLogos">
      <img src="c:\Downloads\qip.png"> <img src="c:\Downloads\flaskhttp.jpg"> <img src="c:\Downloads\YT.png"> <br>
      Py-script - Flask HTTP - YouTube on HTTP connect via Py-Script</span>
    </p>
  </div>

  <div class="container">
    <h1>Capture the Flag - thru javascript</h1>
    <button id="startGameButton">Start Game</button>
    <p>Gameplay area: <span id="gameOutputArea"></p>
  </div>

  <div class="container">
    <h1>Capture the Flag - direct to python</h1>
    <form method="GET" action ="/play_game">
    <input type="submit" name="btnStartGame" id="btnStartGame" value="Start Game"></input>
  </form>
    <p>New Gameplay area: <span id="NewgameOutput"></p>
  </div>
  
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
